<%- include ../partials/header.ejs %>
<%- include ../partials/main_nav.ejs %>

<!-- Main Content -->
<main>
    <div class="container">
        <div class="row">
            <div class="col-md-offset-3 col-md-11">
                <br>
                <h1>Your Assingments & Homework</h1>
                <a href="/book-list/add" class="btn btn-primary" role="button">
                <i fas fa-plus-circle></i>Add Homework or Assignment</a>
                <br>
                <br>
                <table class="table table-bordered table-striped table-hover">
                <tr class="flex">
                <th class="text-center col-1">Course Code</th>
                <th class="text-center col-1">Due Date</th>
                <th class="text-center col-4">Description</th>
                <th class="text-center col-3">Requirements</th>
                <th class="text-center col-2">Group Members</th>
                </tr>
                <!-- Repeat the template --> 
                <% for(let count=0; count<AssignmentList.length; count++) { %>
                    <tr class="flex">
                    <td class="text-center col-1"><%= AssignmentList[count].name %></td>
                    <td class="text-center col-1"><%= AssignmentList[count].author %></td>
                    <td class="text-center col-1"><%= AssignmentList[count].published %></td>
                    <td class="text-center col-4"><%= AssignmentList[count].description %></td>
                    <td class="text-center col-1"><%= AssignmentList[count].price %></td>
                    <td class="text-center col-1">
                    <a href="/book-list/edit/<%= AssignmentList[count]._id %>" class="btn btn-primary">
                        <i fas fa-pencil-alt></i>Edit</a></td>
                    <td class="text-center col-1">
                    <a href="/book-list/delete/<%= AssignmentList[count]._id %>" class="btn btn-primary">
                        <i fas fa-pencil-alt></i>Delete</a></td>
                    </tr>
                <% } %>
                </table>
            </div>
        </div> 
    </div>
</main>

<%- include ../partials/bottom_nav.ejs %>
<%- include ../partials/footer.ejs %>